<!DOCTYPE html>
<html lang="es">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.9/dist/css/uikit.min.css" />
  <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit-icons.min.js"></script>
</head>

<body>
  <footer id="footer" class="uk-flex uk-flex-center uk-flex-middle footer">
    <span class="uk-text-secondary uk-margin-right">Federico González &nbsp;</span>
    <a class="uk-link uk-text-secondary uk-flex uk-flex-middle" href="https://github.com/FedericoDG/laboratorio2" target="_blank"><span uk-icon="github"></span></a>
  </footer>
</body>

</html>